.form {
    margin: auto;
    margin-top: 70px;
    width: 600px;
    border-radius: 15px;
    background-color: bisque;
    padding: 50px;
}

h1 {
    text-align: center;
    font-size: 42px;
    color: red;
    font-weight: 800;
}

.input {
    width: 500px;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    background-color: aquamarine;
    border: 0px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

button:hover {
    background-color: aqua;
}